{% extends 'boot/generic-uboot-tftp-ramdisk-template.jinja2' %}
{% block actions %}
{{ super () }}

  - test:
      timeout:
        minutes: 2
      definitions:
      - repository: git://github.com/jeromebrunet/lava-test.git
        from: git
        name: ping-gateway
        path: functional/ping-gateway.yaml

{% endblock %}
